**Description about data:** The dataset (cust_seg) is the information of 200 customers who were part of the last campaign conducted by one of the major Bank - Credit Card division. The CMO would like to test below hypothesis based on the data.

In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('cust_seg.csv')

In [4]:
df.head()

,custid,sex,AqChannel,region,Marital_status,segment,pre_usage,Post_usage_1month,Latest_mon_usage,post_usage_2ndmonth
0,70,0,4,1,1,1,57,52,49.2,57.2
1,121,1,4,2,1,3,68,59,63.6,64.9
2,86,0,4,3,1,1,44,33,64.8,36.3
3,141,0,4,3,1,3,63,44,56.4,48.4
4,172,0,4,2,1,2,47,52,68.4,57.2

**1. Card usage has been improved significantly from the last year usage which is 50. (Hint:  Comparing card usage of post campaign of 1 month with last year hypothesized value 50)**

In [5]:
df['pre_usage'].mean()

52.23

In [6]:
df['Post_usage_1month'].mean()

52.775

In [8]:
from scipy.stats import ttest_1samp

In [9]:
stat, p = ttest_1samp(df['Latest_mon_usage'], popmean=50)

In [11]:
print(f'Statistics: {stat:.3f}, p-value: {p:.3f}')

Statistics: 16.572, p-value: 0.000

In [12]:
alpha = 0.05
if p <= alpha:
    print('Different distributions (Reject H0)')
if p > alpha:
    print('Same distributions (Fail to Reject H0)')

Different distributions (Reject H0)

**2. The last campaign was sucessful in terms usage of credit card. (Hint: Comparing means for card usage of pre and post usage of campaign)**

In [13]:
from scipy.stats import ttest_rel

In [16]:
stat2, p2 = ttest_rel(df['pre_usage'], df['Post_usage_1month'])

In [61]:
print(f'Statistics: {stat2:.3f}, p-value: {p2:.3f}')

Statistics: -0.867, p-value: 0.387

In [19]:
alpha = 0.05
if p2 <= alpha:
    print('Different distributions (Reject H0)')
if p2 > alpha:
    print('Same distributions (Fail to Reject H0)')

Same distributions (Fail to Reject H0)

In [17]:
stat3, p3 = ttest_rel(df['pre_usage'], df['post_usage_2ndmonth'])

In [62]:
print(f'Statistics: {stat3:.3f}, p-value: {p3:.3f}')

Statistics: -8.867, p-value: 0.000

In [20]:
alpha = 0.05
if p3 <= alpha:
    print('Different distributions (Reject H0)')
if p3 > alpha:
    print('Same distributions (Fail to Reject H0)')

Different distributions (Reject H0)

**3. Is there any difference between Males and Females in terms of credit card usage? (Hint: Comparing means of card usage for males and females)**

In [21]:
df.head(3)

,custid,sex,AqChannel,region,Marital_status,segment,pre_usage,Post_usage_1month,Latest_mon_usage,post_usage_2ndmonth
0,70,0,4,1,1,1,57,52,49.2,57.2
1,121,1,4,2,1,3,68,59,63.6,64.9
2,86,0,4,3,1,1,44,33,64.8,36.3

In [24]:
df[df['sex'] == 0]['Post_usage_1month'].mean()

50.120879120879124

In [25]:
df[df['sex'] == 1]['Post_usage_1month'].mean()

54.99082568807339

In [27]:
males = df[df['sex'] == 0]['Post_usage_1month']

In [28]:
females = df[df['sex'] == 1]['Post_usage_1month']

In [26]:
from scipy.stats import ttest_ind

In [29]:
stat4, p4 = ttest_ind(males, females)

In [63]:
print(f'Statistics: {stat4:.3f}, p-value: {p4:.3f}')

Statistics: -3.734, p-value: 0.000

In [30]:
alpha = 0.05
if p4 <= alpha:
    print('Different distributions (Reject H0)')
if p4 > alpha:
    print('Same distributions (Fail to Reject H0)')

Different distributions (Reject H0)

Yes, there is a difference between Males and Females in terms of credit card usage

**4. Is there any difference between segments of customers in terms of credit card usage? (Hint: Compare means of card usage of different segment customers)**

In [31]:
df.head(2)

,custid,sex,AqChannel,region,Marital_status,segment,pre_usage,Post_usage_1month,Latest_mon_usage,post_usage_2ndmonth
0,70,0,4,1,1,1,57,52,49.2,57.2
1,121,1,4,2,1,3,68,59,63.6,64.9

In [37]:
seg1 = df[df['segment'] == 1]['Post_usage_1month']
seg2 = df[df['segment'] == 2]['Post_usage_1month']
seg3 = df[df['segment'] == 3]['Post_usage_1month']

In [38]:
from scipy.stats import f_oneway

In [39]:
stat5, p5 = f_oneway(seg1, seg2, seg3)

In [64]:
print(f'Statistics: {stat5:.3f}, p-value: {p5:.3f}')

Statistics: 21.275, p-value: 0.000

In [41]:
alpha = 0.05
if p5 <= alpha:
    print('Different distributions (Reject H0)')
if p5 > alpha:
    print('Same distributions (Fail to Reject H0)')

Different distributions (Reject H0)

As you can see that the distributions among them are different. That means there is a difference between segments of customers in terms of credit card usage.

**5. Is there any relation between region and segment? (Hint: Finding the relationship between categorical variables region and segment)**

In [43]:
df.head(3)

,custid,sex,AqChannel,region,Marital_status,segment,pre_usage,Post_usage_1month,Latest_mon_usage,post_usage_2ndmonth
0,70,0,4,1,1,1,57,52,49.2,57.2
1,121,1,4,2,1,3,68,59,63.6,64.9
2,86,0,4,3,1,1,44,33,64.8,36.3

In [44]:
contingency_table = pd.crosstab(df['segment'], df['region'])

In [45]:
contingency_table

region    1   2   3
segment
1        16  20   9
2        19  44  42
3        12  31   7

In [46]:
from scipy.stats import chi2_contingency
from scipy.stats import chi2

In [47]:
stat6, p6, dof, expected = chi2_contingency(contingency_table)

In [50]:
stat6

16.604441649489342

In [51]:
dof

4

In [48]:
expected

array([[10.575, 21.375, 13.05 ],
       [24.675, 49.875, 30.45 ],
       [11.75 , 23.75 , 14.5  ]])

In [49]:
prob = 0.95
critical = chi2.ppf(prob, dof)
print(f'probability: {prob}, critical: {critical:.3f}, stat: {stat:.3f}')
if abs(stat6) >= critical:
    print('Dependent (Reject H0)')
else:
    print('Independent (Fail to Reject H0)')

probability: 0.95, critical: 9.488, stat: 16.572
Dependent (Reject H0)

As you can see that the statistics is greater than the critical value. So, it is safe to say that there is infact a relation between region and segment.

**6. Is the relationship between card usage in the latest month and pre usage of campaign? (Hint: Find the correlation between latest_mon_usage and pre_usage)**

In [52]:
df.head(3)

,custid,sex,AqChannel,region,Marital_status,segment,pre_usage,Post_usage_1month,Latest_mon_usage,post_usage_2ndmonth
0,70,0,4,1,1,1,57,52,49.2,57.2
1,121,1,4,2,1,3,68,59,63.6,64.9
2,86,0,4,3,1,1,44,33,64.8,36.3

First, lets look at the covariance between the two

In [53]:
covariance = np.cov(df['pre_usage'], df['Latest_mon_usage'])

In [54]:
covariance

array([[105.12271357,  76.33766834],
       [ 76.33766834, 126.38565226]])

Now, let's find the person correlation between the two

In [55]:
from scipy.stats import pearsonr

In [56]:
corr, _ = pearsonr(df['pre_usage'], df['Latest_mon_usage'])

In [57]:
corr

0.6622801251558603

You can see that there is quite a strong correlation between the two. But let's try that again by using spearman's correlation.

In [58]:
from scipy.stats import spearmanr

In [59]:
corr1, _ = spearmanr(df['pre_usage'], df['Latest_mon_usage'])

In [60]:
corr1

0.6631260372085246

The result is same i.e positive correlation. So, increase in pre_usage means Latest_mon_usage will also increase.